body {
    background: linear-gradient(to right, #2193b0, #9e02ff66);
    background-size: cover;
}
h1{
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;
}
p1 {
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida
}
p2 {
        padding-inline-end: 50px;
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida
}

h2{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 62, 92);
    text-align: center;}

    body{
        padding: 50px;
    }